
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Quicksand", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../images/robin-canfield-JguVGLigQpA-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main__container {
  padding: 1em 1.5em;
  border-radius: 10px;
}

.main__container header {
  background: rgb(34, 193, 195);
  background: linear-gradient(to left, #2980b9 0%, #6dd5fa 100%);
  padding: 1em 2em;
  border: 1px solid #2980b9;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.main__container header h1 {
  color: #fff;
}

.main__container header p {
  padding: 10px 0;
  color: #f5f5f5;
  font-size: 18px;
  text-transform: capitalize;
}

.main__container header .searchInput {
  width: 100%;
  border: none;
  border-radius: 5em;
  padding: 5px 0 5px 10px;
}
.main__container header .searchInput:focus {
  outline: 2px solid #1e90ff;
}

.main__container .user__result {
  height: 40vh;
  overflow-y: scroll;
  background-color: #eee;
}

.main__container .user__result li {
  display: flex;
  align-items: center;
  padding: 20px 16px;
  cursor: pointer;
}
.main__container .user__result li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.main__container .user__result li.hide {
  display: none;
}
.main__container .user__result li:first-of-type {
  padding: 10px 16px;
}
.main__container .user__result li:not(:last-of-type) {
  border-bottom: 1px solid #000;
}
.main__container .user__result li img {
  width: 20%;
  border-radius: 50%;
}
.main__container .user__result li .details {
  display: grid;
  margin-left: 2em;
  gap: 5px;
}
